@import url("https://fonts.googleapis.com/css?family=Arsenal:700&subset=cyrillic-ext");
body {
  margin: 2px; }

/* Header */
.logo {
  float: left;
  width: 30%; }

img {
  float: left; }

#brand {
  float: left;
  margin: 10px 5px;
  color: #2f3132;
  font-family: "Arsenal", sans-serif;
  letter-spacing: 1px; }

/* Navigation desktop */
.navbar-desktop {
  width: 70%;
  float: left;
  text-align: right; }
  .navbar-desktop a {
    color: #2f3132;
    text-decoration: none;
    font-family: "Arsenal", sans-serif;
    letter-spacing: 1px;
    margin-left: 15px; }
  .navbar-desktop a:hover {
    /*transition: border 0.5s ease-in-out;*/
    border-bottom: 2px solid #ff3d00; }
  .navbar-desktop a.presentation {
    background-color: #ff3d00;
    color: white;
    padding: 5px 14px; }
  .navbar-desktop a.presentation:hover {
    background-color: transparent;
    color: #ff3d00;
    border: 2px solid #ff3d00; }

/* Navigation mobile */
.mobnav {
  float: right;
  margin: 10px; }
  .mobnav button {
    background: transparent;
    border: none; }

#navbar-mobile {
  display: none; }

#navbar-mobile a {
  color: #ff3d00;
  text-decoration: none;
  font-family: "Arsenal", sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  margin-top: 10px; }
#navbar-mobile a:hover {
  border-bottom: 2px solid #2f3132; }

/* Decision page */
#decision {
  clear: both;
  text-align: left;
  padding-top: 90px;
  padding-left: 40px;
  background: url("../images/bckg.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 100vh; }
  #decision a {
    display: inline;
    text-decoration: none;
    position: relative; }
  #decision .number {
    color: #e9e8e6;
    font-family: "Arsenal", sans-serif;
    font-size: 72px;
    margin: 0;
    padding: 0; }
  #decision .text {
    font-family: "Arsenal", sans-serif;
    color: #2f3132;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0; }
  #decision .text::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 75px;
    transition: width .5s ease-in-out;
    border-bottom: 2px solid #ff3d00;
    bottom: 0; }
  #decision .text:hover::before {
    width: 100%; }

/* Button Down #1 */
/* @mixin button-down {
  .arrow1, .arrow2, .arrow3 {
    position: absolute;
    border-width: 0 1px 1px 0;
    display: block;
    padding: 3px;
  } 
} */
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh-345px-40px-300px); }
  .btn .fwd {
    width: 40px;
    height: 40px;
    background-color: #ff3d00;
    transform: rotate(45deg); }
    .btn .fwd .arrow2 {
      position: absolute;
      display: block;
      padding: 3px;
      border: solid white;
      border-width: 0 1px 1px 0;
      top: 15px;
      left: 15px; }

.btn:hover .arrow1 {
  position: absolute;
  display: block;
  padding: 3px;
  border: solid rgba(255, 255, 255, 0.5);
  border-width: 0 1px 1px 0;
  top: 7px;
  left: 7px; }
.btn:hover .arrow2 {
  position: absolute;
  display: block;
  border: solid rgba(255, 255, 255, 0.8);
  border-width: 0 1px 1px 0;
  top: 15px;
  left: 15px; }
.btn:hover .arrow3 {
  position: absolute;
  display: block;
  padding: 3px;
  border: solid white;
  border-width: 0 1px 1px 0;
  margin: 2px;
  top: 21px;
  left: 21px; }

/* Button Down #2 */
  /* .btn {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    margin-top:100px;
    bottom: 0;
    
    .fwd {
      padding: 20px 21px;
      background-color: $color-detail;
      transform: rotate(45deg);
      box-shadow: 0 0 40px 40px $color-detail inset, 0 0 0 0 $color-detail;
      transition: all 150ms ease-in-out;
      .arrow2 {    
        border: solid rgb(255,255,255);
        border-width: 0 3px 3px 0;
        display: block;
        align-items: center;
        padding: 3px;
        margin: 2px;
      }
    }
    }

    .fwd:hover {
      box-shadow: 0 0 10px 0 $color-detail inset, 0 0 10px 4px $color-detail;
      background-color: transparent;
      .arrow2 {
        border: solid $color-detail;
        border-width: 0 3px 3px 0;
      }
      }  */
/* For Whom Page */
#forwhom {
  background: url("../images/b.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh; }
  #forwhom img {
    width: 100%;
    margin: 0;
    position: absolute;
    z-index: 2; }

/* Team & Presentation Pages */
#team, #pres {
  background: url("../images/bckg.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 100vh; }

/* Media Querries */
@media screen and (max-width: 767px) {
  .logo {
    width: 50%; }

  .navbar-desktop {
    display: none; }

  .btn {
    display: none; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .logo {
    width: 50%; }

  .navbar-desktop {
    display: none; }

  .btn {
    display: none; } }
@media (min-width: 991px) and (max-width: 1199px) {
  .mobnav {
    display: none; }

  #navbar-mobile {
    display: none; } }
@media (min-width: 1200px) {
  .mobnav {
    display: none; }

  #navbar-mobile {
    display: none; } }

/*# sourceMappingURL=site.css.map */
