%body
 %header
  %div.navigation
   .logo
    = image_tag 'images/logo.gif'
    %h1#brand ЖИВАСОФТ
   %nav.navbar-desktop
    %a.smooth-scroll{:href => '#decision'} Решения
    %a.smooth-scroll{:href => '#forwhom'} Для кого
    %a.smooth-scroll{:href => '#team'} Команда
    %a.smooth-scroll.presentation{:href => '#pres'} Презентация
  
  %div.mobnav
   %button#hideshow
    %i
    %i
    %i
   %nav#navbar-mobile
    %div
     %a{:href => '#decision'} Решения
    %div
     %a{:href => '#forwhom'} Для кого
    %div
     %a{:href => '#team'} Команда
    %div
     %a.presentation{:href => '#pres'} Презентация