!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title "Живасофт"
    %link{:href => 'stylesheets/site.css', :rel => 'stylesheet'}
    %script{src:'https://use.fontawesome.com/releases/v5.0.4/js/all.js'}
    %script{src:'javascripts/jquery-3.2.1.min.js'}
    %script{src:'javascripts/site.js'}
    

