%body
 %header
  .row
   = image_tag 'images/logo.gif'
   %h4#brand ЖИВАСОФТ
  %nav.navbar
   %a#dec{:href => '#decision'} Решения
   %a#for{:href => '#forwhom'} Для кого
   %a#tm{:href => '#team'} Команда
   %a#prs.presentation{:href => '#pres'} Презентация
   
   