---
title: Живасофт
---

%section#decision
  %div.bckg-image
    %div.bckg-line
      = image_tag 'images/l.gif'
  %div.content
    %div
      %span.number 01
    %div
      %span.text Комерческое и информационное консультирование
  %div.content
    %div
      %span.number 02
    %div
      %span.text Управленческий аудит и внедрение организационных изменений
  %div.content
    %div
      %span.number 03
    %div
      %span.text Разработка и внедрение програмных комплексов
  .btn
    %a.smooth-scroll.fwd{:href => '#forwhom'}
      %i.arrow1 
      %i.arrow2
      %i.arrow3
%section#forwhom
%section#team 
%section#pres
