---
title: Живасофт
---

%section#main
  %a.number 01
  %a.text Комерческое и информационное консультирование
  %a.number 02
  %a.text Управленческий аудит и внедрение организационных изменений
  %a.number 03
  %a.text Разработка и внедрение програмных комплексов
  .btn
    %a.fwd{:href => '#decision'}
      %i.arrow1 
      %i.arrow2
      %i.arrow3
%section#decision
%section#forwhom
%section#team 
%section#pres
